
body {
  overflow-x: hidden;
}
.container a:not(.no-underline) {
    text-decoration: none;
    position: relative;
    color: var(--bs-body-color);
}
.container a:not(.no-underline)::after {
    content:'';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.05em;
    bottom: 0;
    left: 0;
    background: currentColor;
    transform-origin: bottom right;
    transition: transform .25s ease-out;
}
.container a:not(.no-underline):hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

nav{
    z-index: 100;
}

.emoji {
    width: 75px;
    margin-bottom: .5rem;
}

.logo {
    height: 54px;
}

.splide__slide img {
    height: 30px;
}

.splide__pagination__page {
    padding: 8px;
    margin:20px 5px;
    border: 0;
    border-radius: 50px;
}

.splide__pagination__page.is-active{
    background-color: #f8df83;
}

blockquote p {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
}

blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}


.mobile.closed {
  transform: translateX(-100%);
}

.mobile {
  transition: all .3s ease;
  transform: translateX(0);
  background-color: #ffffffef;
  height: 100vh;
  width: 75vw;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 4vw;
  z-index: 50;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobile a {
  font-size:2rem;
  margin: .5rem 0;
  font-weight: bold;
  text-decoration: none;
  color:#000000;
  transition: all .3s ease;
}

.mobile > div {
  width: fit-content;
}



.mobile > div:hover a {
  transform: translateX(50px);
}


#backdrop {
  background-color: #0000002f;
  position: fixed;
  z-index: 40;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}


.mobile img {
  transition: all .4s ease;
  position: absolute;
  left: 5vw;
  opacity: 0;
  width: 45px;
}

.mobile > div:hover img{
  opacity: 1;
}

@media only screen and (min-width: 768px) {
    .logo {
        height: 68px;
    }
  }



.alert {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.alert img {
  height: 250px;
}
.alert-1 {
  background-color: #f2f6ff;
}

.alert-2 {
  background-color: #fef9f4;
}

.alert-3 {
  background-color: #f8f4fd;
}

.alert-4 {
  background-color: #f3faff;
}


.badge-laravel {
  background-color: #fb503b;
}
.badge-express {
  background-color: #f7df1e;
  color: black;
}
.badge-vuejs {
  background-color: #41B883;
}

.badge-bootstrap {
  background-color: #7611f7;
}

/* Tooltip */

.tooltip {
  font-size: .8rem;
 background-color: rgba(0, 0, 0, 0.8);
 margin-bottom: 5px;
 color: #fff;
 text-align: center;
 margin-bottom: 2px!important;
 padding: 1px 5px;
 border-radius: 6px;
}



/* Burger menu */
#burger {
    width: 35px;
    height: 26px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

#burger span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  #burger span:nth-child(2) {
    top: 11px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  #burger span:nth-child(3) {
    top: 22px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  #burger.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
  }
  
  #burger.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  
  #burger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 25px;
    left: 8px;
  }


